:root {
    --black-color: #000;
    --color-default: #fff;
    --color-primary: #f3a952;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
    
}

/* body {
    overflow: hidden;
} */

p {
    color: var(--color-default);
}

.mr-t-32 {
    margin: 32px 0;
}

/* DISPLAY NONE */
.none {
    display: none;
}

#none {
    display: none;
}

.transparent {
    color: transparent;
}

.disabled {
    cursor: not-allowed;
    opacity: .5;
}

/* BUTTON */
.btn {
    outline: none;
    border: none;
    border-radius: 32px;
    background-color: transparent;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s;
}

.btn:hover {
    opacity: .5;
}

.go-premium {
    background-color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 6px 16px;
    border-radius: 32px;
} 

/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: .7;
    }
    to {
        opacity: 1;
    }
}


/* Mixer */
input {
    overflow: hidden;
    width: 160px;
    -webkit-appearance: none;
    background-color: #14141d;
    border-radius: 32px;
    margin:  0 20px;
}
  
input::-webkit-slider-runnable-track {
    height: 17px;
    -webkit-appearance: none;
    color: var(--color-primary);
    margin-top: -1px;
}
  
input::-webkit-slider-thumb {
    width: 17px;
    -webkit-appearance: none;
    height: 17px;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 0.5px;
    background: var(--color-default);
    box-shadow: -88px 0px 0 80px var(--color-primary);
}

/* Img musicplay size */
.img-music-pl {
    width: 60px;
    height: 60px;
    filter: invert(100%);
}

.img-music-nx-pv {
    width: 30px;
    height: 30px;
    filter: invert(120%);
}