@media (max-width: 740px) {
    .main-background {
        position: relative;        
    }

    .background-day--rain video,
    .background-day--no-rain video,
    .background-night--rain video,
    .background-night--no-rain video {
        width: 1350px;
        height: 750px;
        position: absolute;
        top: 0;
        left: -500px;
    }

    .header-logo {
        position: relative;
        left: -80px;
        top: -6px;
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        height: 320px;
    }

    .toobar-item {
        position: relative;
        right: -40px;
        top: -6px;
    }

    .rain-traffic {
        display: none;
    }

    .toobar-item:nth-child(2) {
        display: none;
    }

    .menu-control-column {
        border-radius: 32px;
        width: 60px;
        height: 60px;
    }

    .menu-control-column i {
        font-size: 2.6rem;
        position: relative;
        top: -0.5px;
        left: 0;
    }

    .menu-item--onclick {
        width: 60px;
        height: 60px;
    }

    .menu-icon {
        font-size: 2.6rem;
        position: relative;
        top: 1px;
    }

    .volume-player {
        display: none;
    }

    /* Menu */
    .menu {
        position: absolute;
        top: -80px;
        right: 60px;
        width: 268px;
    }

    .mix-category-item {
        width: 70px;
        height: 70px;
    }

    .mix-category-item-title {
        bottom: 6px;
        font-size: 1.5rem;
    }

    .mix-category-img {
        top: -38px;
    }

    .mix-category-item:nth-child(1) .mix-category-img {
        position: absolute;
        left: -21px;
    }
    
    .mix-category-item:nth-child(2) .mix-category-img {
        position: absolute;
        left: -20px;
        top: -39px;
    }
    
    .mix-category-item:nth-child(3) .mix-category-img {
        position: absolute;
        left: -25px;
        top: -34px;
    }

    .background-noises {
        height: 222px;
        overflow-y: scroll;
    }

    .mix-noises-name {
        margin-right: 0;
    }

    input {
        overflow: hidden;
        width: 160px;
        -webkit-appearance: none;
        background-color: #14141d;
        border-radius: 32px;
        margin: 0 20px;
        margin-top: 0px;
        margin-right: 20px;
        margin-bottom: 0px;
        margin-left: 0;
    }

    .footer {
        position: absolute;
        bottom: 8px;
        left: 12px;
    }

    .footer-made-by {
        opacity: .3;
        font-size: 1.3rem;
    }
}